.button {
    background: -webkit-linear-gradient(#580070, #5c5c5c)
    border: none;
    color:silver;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: "spaceAge"
  }
  #hidden .sensorOutput {
    background-color: #580070;
    border: none;
    color:silver;
    padding: 15px 15px;
    text-align: left;
    font-size: 16px;
    font-family: "spaceAge"

  }
  #hidden {display: none;}
  